<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/newroute">New Route</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/newanimal">New Animal</a></li>
    </ul>
</nav>